@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Mulish;
    max-width: 1440px;
    margin: 0 auto;
}
/* Multiple Classes */
.orange {
    color: #ff5400;
}
.black {
    color: #131318;
}
.gray {
    color: #424247;
}
/* Navbar */
.navbar {
    max-width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.logo-txt h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 34px;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #424247;
    border-radius: 7px;
    padding: 10px;
}
.navbar ul li a:hover {
    background-color: #ff5400;
    color: white;
}
.navbar ul li a .orange:hover {
    background-color: #ff5400;
    color: white;
}
/* Banner Section */
.banner-container {
    max-width: 85%;
    margin: 0 auto 100px;
    border-radius: 16px;
    background-image: linear-gradient(rgba(5, 9, 18, 0.826), rgba(255, 255, 255, 0)), url(Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6.5rem 0;
}
.banner-txt-container {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.banner-txt {
    font-size: 1rem;
    color: white;
    font-weight: 300;
    margin-top: 24px;
}
.banner-bar {
    max-width: 65%;
    margin: 0 auto;
    background-color: rgba(224, 224, 230, 0.37);
    border-radius: 8px;
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}
.input, .input-txt {
    width: 174px;
    border-radius: 8px;
    background-color: white;
    border: none;
    color: rgba(19, 19, 24, 0.5);
    padding: 1rem;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
select:focus {
    outline: none;
}
.banner-btn {
    background-color: #ff5400;
    width: 174px;
    border-radius: 8px;
    padding: 16px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all .5s;
}
.banner-btn:hover {
    background-color: darkorange;
}
/* Section 2 (Our Popular Tours */
.section2-container {
    max-width: 85%;
    margin: 0 auto 100px;
    display: flex;
    gap: 50px;
}
.sec2-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
}
.sec2-txt {
    color: rgba(19, 19, 24, 0.7);
    font-weight: normal;
    font-size: 1rem;
}
.sec2-txt ul {
    margin: 24px 0;
}
.sec2-txt ul li {
    line-height: 40px;
    margin-left: 20px;
}
.sec2-btn {
    border-radius: 8px;
    background-color: #ff5400;
    border: none;
    padding: 14px 35px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
    margin-top: 32px;
}
.sec2-btn:hover {
    background-color: darkorange;
}
/* Section 3 (Choose Your Destination) */
.sec3-container {
    max-width: 85%;
    margin: 0 auto 100px;
}
.sec3-txt-container {
    text-align: center;
    max-width: 45%;
    margin: 0 auto 48px;
}
.sec3-img-container {
    position: relative;
}
.sec3-img-title {
    font-weight: 800;
    font-size: 1.75rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sec3-img { 
    max-width: 100%;
    filter: brightness(85%);
}
.sec3-row1 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
}
.sec3-row2 {
    max-width: 100%;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}
.sec3-row3 {
    max-width: 100%;
    margin: 0 auto;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3-img-container:hover {
    filter: opacity(.8);
    cursor: pointer;
}
/* Section 4 */
.sec4-container {
    max-width: 85%;
    margin: 0 auto 100px;
}
.sec4-container img {
    width: 64px;
}
.sec4-box-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
.sec4-box {
    max-width: 573px;
    max-height: 284px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.2);
    padding: 32px;
    margin-bottom: 24px;
}
.sec4-box3 {
    max-width: 573px;
    max-height: 284px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.2);
    padding: 32px;
}
.sec4-box-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
    margin: 32px 0 16px;
}
/* Section 5 */
.sec5-container {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 100px;
}
.sec5-box-container {
    max-width: 90%; 
    height: 500px;
    background-image: url(Images/sec5-1.png);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    padding: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 24px;
}
.sec5-box-container2 {
    max-width: 90%; 
    height: 500px;
    background-image: url(Images/sec5-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    padding: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.sec5-box {
    max-width: 45%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px; 
}

.sec5-box nav {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.sec5-box nav li {
    list-style-type: none;
    color: #5a5a5d;
    font-size: 1rem; 
}
.sec5-box nav li i {
    color: #ff5400;
}

.sec5-box-title {
    color: #131318;
    font-weight: 800;
    font-size: 1.5rem;
}
.sec5-box-txt {
    max-width: 90%;
    color: #5a5a5d;
    margin: 16px 0;
    font-size: 1rem;
}
.sec5-box-price {
    color: #ff5400;
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 24px;
}


.sec5-btn {
    background-color: #ff5400;
    width: 150px;
    border-radius: 8px;
    padding: 16px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all .5s;
}
.sec5-btn:hover {
    background-color: darkorange;
}
.sec5-btn2 {
    background-color: #ff5400;
    border-radius: 8px;
    padding: 14px 22px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all .5s;
    margin-top: 24px;
}
.sec5-btn2:hover {
    background-color: darkorange;
}
/* Section6 */
.sec6-container {
    max-width: 85%;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.sec6-txt-container {
    max-width: 50%;
}
.sec6-title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
}
.sec6-txt {
    color: #5A5A5D;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 24px;
}
.sec6-txt-container ul {
    gap: 16px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 32px;
    max-width: 90%;
    margin-left: 30px;
}
.sec6-btn {
    background-color: #ff5400;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all .5s;
}
.sec6-btn:hover {
    background-color: darkorange;
}
.sec6-video-container {
    position: relative;
}
.sec6-video-container img{
    border-radius: 16px;
    filter: brightness(85%);
}
.sec6-video-container img:hover {
    cursor: pointer;
    filter: brightness(100%);
}
.sec6-video-txt {
    width: 50%;
    position: absolute;
    text-align: center;
    color: white;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
}
/* Section 7 */
.sec7-container {
    max-width: 85%;
    height: fit-content;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.sec7-form {
    max-width: 40%;
    border: 2px solid #ff5400;
    border-radius: 16px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec7-form-title {
    width: 85%;
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}
.sec7-form-txt {
    max-width: 85%;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.7);
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 24px;
}
.sec7-form hr {
    width: 85%;
    margin: 0 auto;
    border: 1px solid rgba(49, 49, 49, 0.086);
    margin-bottom: 24px;
}
.sec7-form input {
    width: calc(85% - 30px);
    margin: 0 auto 16px;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 8px;
}
.sec7-form input::placeholder {
    color: rgb(201, 201, 201);
}
.sec7-form-btn {
    width: 85%;
    margin: 0 auto;
    margin-top: 8px;
    background-color: #ff5400;
    border-radius: 8px;
    padding: 16px 0;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all .5s;
}
.sec7-form-btn:hover {
    background-color: darkorange;
}
.sec7-img-container {
    max-width: 60%;
    position: relative;
}
.sec7-img-btn {
    position: absolute;
    width: 50%;
    background-color: #ff5400;
    color: white;
    padding: 24px 30px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.5s;
    border: none;
    bottom: 60px;
    right: 10px;
    transform: rotate(-20deg);
}
.sec7-img-btn span {
    font-size: 2rem;
    font-weight: bolder;
}






/* Small Device */
@media screen and (max-width: 576px) {
    .navbar {
        max-width: calc(100% - 40px);
        flex-direction: column;
        gap: 30px;
    }
    .logo-txt {
        gap: 10px;
        flex-wrap: wrap;
    }
    .logo-txt h2 {
        font-size: 1.55rem;
        text-align: center;
    }
    .navbar ul {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* navbar section end */

    .banner-container {
        max-width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }
    .banner-txt-container {
        width: 90%;
        margin-bottom: 32px;
    }
    .banner-title {
        font-size: 1.5rem;
    }
    .banner-bar {
        max-width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .input, .banner-btn {
        min-width: 100%;
    }
    .input-txt {
        width: 90%;
    }
    /* banner section end */


    /* Section 2 */
    .section2-container {
        max-width: 90%;
        flex-direction: column;
        margin: 70px auto;
    }
    .sec2-img img {
        max-width: 100%;
    }
    /* Section 3 */
    .sec3-container {
        max-width: 90%;
        margin: 0 auto;
    }
    .sec3-txt-container {
        max-width: 90%;
        margin: 0 auto 30px;
    }
    .sec2-title {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    .sec3-img {
        width: 500px;
    }
    .sec3-row1, .sec3-row2, .sec3-row3 {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .sec3-img-title {
        font-size: 1.2rem;
    }

    /* Section 4 */
    .sec4-container {
        max-width: 90%;
        margin: 70px auto 70px;
    }
    .sec4-box-container {
        flex-direction: column;
        gap: 0px;
    }
    .sec4-box {
        margin-bottom: 30px;
    }
    .sec4-box, .sec4-box3 {
        height: 100%;
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* Section 5 */
    .sec5-container {
        max-width: 90%;
        height: 100%;
        margin: 0 auto 70px;
    }
    .sec5-box-container, .sec5-box-container2 {
        max-width: 100%;
        margin: 0 auto 16px;
        align-items: flex-end;
    }
    .sec5-box {
        max-width: 100%;
        height: fit-content;
        padding: 24px;
    }
    .sec5-box nav {
        flex-wrap: wrap;
    }
    .sec5-box-title {
        font-size: 1.25rem;
    }
    .sec5-box-txt {
        max-width: 100%;
        font-size: .8rem;
    }
    .sec5-box-price, .sec5-btn {
        font-size: 1rem;
    }
    .sec5-btn2 {
        margin-top: 10px;
    }
    /* Section 6 */
    .sec6-container {
        max-width: 90%;
        margin: 40px auto;
        flex-direction: column;
    }
    .sec6-title {
        font-size: 1.25rem;
    }
    .sec6-txt-container {
        max-width: 100%;
    }
    .sec6-video-container img {
        max-width: 100%;
    }
    .sec6-video-txt {
        font-size: 1.25rem;
        width: 80%;
    }
    /* Section 7 */
    .sec7-container {
        max-width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .sec7-form {
        max-width: 100%;
    }
    .sec7-img-container {
        max-width: 100%;
    }
    .sec7-img-container img {
        max-width: 100%;
    }
    .sec7-img-btn {
        width: 70%;
        padding: 22px 28px;
        font-size: 1rem;
    }
    .sec7-img-btn span {
        font-size: 1.25rem;
    }
}
/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 1240px) {
    .navbar {
        max-width: calc(100% - 50px);
        flex-direction: column;
        gap: 40px;
    }
    /* navbar section end */

    .banner-container {
        max-width: 90%;
        margin: 0 auto;
        /* padding: 2rem 0; */
    }
    .banner-txt-container {
        width: 80%;
        margin-bottom: 36px;
    }
    .banner-bar {
        max-width: 80%;
        flex-wrap: wrap;
    }
    /* banner section end */

    /* Section 2 */
    .section2-container {
        max-width: 90%;
        margin: 80px auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .sec2-img img {
        max-width: 100%;
    }
    
    /* Section 3 */
    .sec3-container {
        max-width: 90%;
        margin: 0 auto;
    }
    .sec3-txt-container {
        max-width: 80%;
        margin: 0 auto 40px;
    }
    .sec3-img {
        width: 1000px;
    }
    .sec3-row1, .sec3-row2, .sec3-row3 {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .sec3-img-title {
        font-size: 1.7rem;
    }

    /* Section 4 */
    .sec4-container {
        max-width: 90%;
        margin: 80px auto 80px;
    }
    .sec4-box-container {
        flex-direction: column;
        gap: 0px;
    }
    .sec4-box {
        margin-bottom: 30px;
    }

    /* Section 5 */
    .sec5-container {
        max-width: 90%;
        height: 100%;
    }
    .sec5-box-container, .sec5-box-container2 {
        max-width: 100%;
        margin: 0 auto 16px;
        align-items: flex-end;
    }
    .sec5-box {
        max-width: 100%;
        height: fit-content;
        padding: 24px;
    }
    .sec5-box nav {
        flex-wrap: wrap;
    }
    .sec5-box-title {
        font-size: 1.25rem;
    }
    .sec5-box-txt {
        max-width: 100%;
        font-size: .8rem;
    }
    .sec5-box-price, .sec5-btn {
        font-size: 1rem;
    }
    .sec5-btn2 {
        margin-top: 20px;
    }
    /* Section 6 */
    .sec6-container {
        max-width: 90%;
        margin: 40px auto;
        flex-direction: column;
        gap: 40px;
    }
    .sec6-title {
        font-size: 1.25rem;
    }
    .sec6-txt-container {
        max-width: 100%;
    }
    .sec6-video-container img {
        max-width: 100%;
    }
    .sec6-video-txt {
        font-size: 1.25rem;
        width: 80%;
    }
}